/**
主要css文件
 */

#sourcebox {
    border: 2px solid green;
    font-size: 16px;
    padding: 5px;
    height: 300px;
    width: 99%;
}

.controllerRow {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.hidden_div{
    opacity: 0;
    height: 1px;
    overflow: hidden;
}